#Basic Descriptive Stats

##Load Numpy, Pandas and other Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import statistics
import scipy.stats as stats

### Load Dataset "Inc_Exp_Data.csv" using Pandas

In [4]:
from google.colab import files
dataset = files.upload()

Saving Inc_Exp_Data.csv to Inc_Exp_Data.csv

Analyze the data using pandas info() *function*

In [5]:
dataset = pd.read_csv('/content/Inc_Exp_Data.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

Analyze the data using pandas describe() *function*

In [6]:
dataset.describe()

       Mthly_HH_Income  ...  No_of_Earning_Members
count        50.000000  ...              50.000000
mean      41558.000000  ...               1.460000
std       26097.908979  ...               0.734291
min        5000.000000  ...               1.000000
25%       23550.000000  ...               1.000000
50%       35000.000000  ...               1.000000
75%       50375.000000  ...               2.000000
max      100000.000000  ...               4.000000

[8 rows x 6 columns]

Analyze the data using pandas shape object

In [7]:
dataset.shape

(50, 7)

Check for missing values

In [8]:

dataset.isnull().values.any()

False

What is the Mean Expense of a Household? Compute mean using Inbuilt pandas function and write your own function for the same.

In [13]:
print('Mean using builtin function:  ',dataset['Mthly_HH_Expense'].mean())

def my_mean(arr):
  sum = 0
  for i in arr:
    sum = sum + i
  return sum/len(arr)


print('Mean using made function:     ',my_mean(dataset['Mthly_HH_Expense']))

Mean using builtin function:   18818.0
Mean using made function:      18818.0

What is the Median Household Expense? Compute Median using Inbuilt pandas function and write your own function for the same.

In [20]:
print('Median using builtin function:    ',dataset['Mthly_HH_Expense'].median())


def my_median(arr):
  arr = arr.sort_values(ignore_index=True)
  x = len(arr)
  if x % 2 == 0:
    median1 = arr[(x/2)]
  
    median2 = arr[(x/2)-1]
  
    median = (median1+median2)/2

  else:
    medium = arr[(x/2)]

  return median
  


print('median made function:      ',my_median(dataset['Mthly_HH_Expense']))

Median using builtin function:     15500.0
median made function:       15500.0

What is the Monthly Expense for most of the Households?

In [40]:
print('Monthly expense for most of households --',dataset['Mthly_HH_Expense'].value_counts()[:1].index.to_list())

Monthly expense for most of households -- [25000]

Calculate IQR(difference between 75% and 25% quartile)

In [45]:
numeric_columns = dataset.select_dtypes(include=np.number).columns.tolist()

for i in numeric_columns:
    print('Inter-quartile range for ',i,'  ', stats.iqr(dataset[i]))

Inter-quartile range for  Mthly_HH_Income    26825.0
Inter-quartile range for  Mthly_HH_Expense    15000.0
Inter-quartile range for  No_of_Fly_Members    2.0
Inter-quartile range for  Emi_or_Rent_Amt    3500.0
Inter-quartile range for  Annual_HH_Income    335970.0
Inter-quartile range for  No_of_Earning_Members    1.0

Calculate Standard Deviation for first 4 columns. Compute Standard Deviation using Inbuilt pandas function and write your own function for the same.

In [48]:
frst_four_cols = dataset.columns[:4].tolist()

print('std using builtin function\n')
for i in frst_four_cols:
    print('std deviation of ',i,'  ',(dataset[i]).std())
    
    
l = len(dataset)

def stddev(arr):
    summ = 0
    for x in arr:
        num = (x-arr.mean())**2
        summ = summ+num
    return (summ/(l-1))**(1/2)

print('std using made function\n')

for i in frst_four_cols:
    print('std deviation of ',i,'  ',stddev(dataset[i]))

std using builtin function

std deviation of  Mthly_HH_Income    26097.908978713687
std deviation of  Mthly_HH_Expense    12090.216824240286
std deviation of  No_of_Fly_Members    1.5173822786601394
std deviation of  Emi_or_Rent_Amt    6241.434947516607
std using made function

std deviation of  Mthly_HH_Income    26097.908978713687
std deviation of  Mthly_HH_Expense    12090.216824240286
std deviation of  No_of_Fly_Members    1.5173822786601394
std deviation of  Emi_or_Rent_Amt    6241.434947516607

Calculate Variance for first 3 columns. Compute Variance using Inbuilt pandas 
function and write your own function for the same.

In [49]:
frst_three_cols = dataset.columns[:3].tolist()

print('variance using builtin function\n')
for i in frst_three_cols:
    print('variance of ',i,'  ',(dataset[i]).var())
    
    
l = len(dataset)

def varr(arr):
    summ = 0

    for x in arr:
        num = (x-arr.mean())**2
        summ = summ+num
        
    return (summ/(l-1))

print('variance using made function\n')

for i in frst_three_cols:
    print('variance of ',i,'  ',varr(dataset[i]))

variance using builtin function

variance of  Mthly_HH_Income    681100853.0612245
variance of  Mthly_HH_Expense    146173342.85714287
variance of  No_of_Fly_Members    2.302448979591837
variance using made function

variance of  Mthly_HH_Income    681100853.0612245
variance of  Mthly_HH_Expense    146173342.85714287
variance of  No_of_Fly_Members    2.302448979591837

Calculate Skewness for first 3 columns. Compute Skewness using Inbuilt pandas function and write your own function for the same.

In [52]:
print('skewness using builtin function\n')
for i in frst_three_cols:
    print('skewness of ',i,'  ',(dataset[i]).skew())
    
    
l = len(dataset)    
def skewness(arr):
    summ = 0
    den = (l-1)*(arr.std())**3
    for x in arr:
        num = (x-arr.mean())**3
        summ = summ+num
    return (summ/den)

print('skewness using made function\n')   
for i in frst_three_cols:
    print('skewness of ',i,'  ',skewness(dataset[i]))

skewness using builtin function

skewness of  Mthly_HH_Income    0.9246148763777229
skewness of  Mthly_HH_Expense    1.1994608030097127
skewness of  No_of_Fly_Members    0.11367415455857431
skewness using made function

skewness of  Mthly_HH_Income    0.887630281322614
skewness of  Mthly_HH_Expense    1.151482370889324
skewness of  No_of_Fly_Members    0.10912718837623124

Calculate Kurtosis for first 3 columns. Compute Kurtosis using Inbuilt pandas function and write your own function for the same.

In [54]:
print('kurtosis using builtin function\n')


for i in frst_three_cols:
    print('kurtosis of ',i,'  ',stats.kurtosis(dataset[i]))
    
    
l = len(dataset)    
def kurtosis(arr):
    summ = 0
    den = (l-1)*(arr.std())**4
    for x in arr:
        num = (x-arr.mean())**4
        summ = summ+num
    return (summ/den)

print('kurtosis using made function\n')

for i in frst_three_cols:
    print('kurtosis of ',i,'  ',kurtosis(dataset[i]))

kurtosis using builtin function

kurtosis of  Mthly_HH_Income    -0.013332948688498103
kurtosis of  Mthly_HH_Expense    0.7331960636897663
kurtosis of  No_of_Fly_Members    -0.8862980883527389
kurtosis using made function

kurtosis of  Mthly_HH_Income    2.926933710285271
kurtosis of  Mthly_HH_Expense    3.65853214241597
kurtosis of  No_of_Fly_Members    2.071427873414315

Find the correlation coeeficient between the "Mthly_HH_Income" and	"Mthly_HH_Expense". Compute correlation coeeficient using Inbuilt pandas function and write your own function for the same.

In [82]:
frst_two_cols = dataset.iloc[:,[0,1]]
print('pearson coeff using builtin function')
print(frst_two_cols.corr(method = 'pearson'))



import math

def average(x):
    
    return float(x.sum()) / len(x)

def pearson_def(x, y):
    
    n = len(x)
    assert n > 0
    avg_x = average(x)
    avg_y = average(y)
    diffprod = 0
    xdiff2 = 0
    ydiff2 = 0
    for idx in range(n):
        xdiff = x[idx] - avg_x
        ydiff = y[idx] - avg_y
        diffprod += xdiff * ydiff
        xdiff2 += xdiff * xdiff
        ydiff2 += ydiff * ydiff

    return diffprod / math.sqrt(xdiff2 * ydiff2)


print('pearson coeff using own function\n')
print('Expense-Income   ',pearson_def(dataset['Mthly_HH_Expense'],dataset['Mthly_HH_Income']))
print('Expense-Expense   ',pearson_def(dataset['Mthly_HH_Expense'],dataset['Mthly_HH_Expense'])) 
print('Income-Income   ',pearson_def(dataset['Mthly_HH_Income'],dataset['Mthly_HH_Income'])) 
print('Income-Expense   ',pearson_def(dataset['Mthly_HH_Income'],dataset['Mthly_HH_Expense']))

pearson coeff using builtin function
                  Mthly_HH_Income  Mthly_HH_Expense
Mthly_HH_Income          1.000000          0.649215
Mthly_HH_Expense         0.649215          1.000000
pearson coeff using own function

Expense-Income    0.6492152549316461
Expense-Expense    1.0
Income-Income    1.0
Income-Expense    0.6492152549316461

Calculate the total counts under each qualification

In [56]:
print(dataset['Highest_Qualified_Member'].value_counts())

Graduate          19
Under-Graduate    10
Professional      10
Post-Graduate      6
Illiterate         5
Name: Highest_Qualified_Member, dtype: int64

Compute logarithmic mean of the first two cols using your own function

In [57]:

def logmean(arr):
    x = max(arr) - min(arr)
    
    y = np.log(max(arr)) - np.log(min(arr))
    
    

    return(x/y)

print('Logarithmic mean of Monthly household income..',logmean(dataset['Mthly_HH_Income']))
print('Logarithmic mean of Monthly household expense..',logmean(dataset['Mthly_HH_Expense']))

Logarithmic mean of Monthly household income.. 31711.77906605674
Logarithmic mean of Monthly household expense.. 14912.038429430682

Compute geometric mean of the first two cols using your own  function and verify using inbuilt Python function

In [58]:
frst_two = dataset.iloc[:,0:2]

print('geometric mean using builtin function')
for i in frst_two_cols:
    print(i , ' ',stats.mstats.gmean(dataset[i]))

leng = 1/len(dataset)
def geomean(arr):
    prod = 1
    for i in arr:
        prod = prod*i
    return prod**leng
        

print('geometric mean using made function')

for i in frst_two_cols:
    print(i , ' ',geomean(dataset[i]))

geometric mean using builtin function
Mthly_HH_Income   33590.37754021395
Mthly_HH_Expense   15391.89958222314
geometric mean using made function
Mthly_HH_Income   33590.377540213965
Mthly_HH_Expense   15391.899582223135

Compute *Mean Deviation from the Mean* of the first two cols using your own  function and verify using inbuilt Python function

In [69]:
def md(arr):
    summ = 0 
    for i in arr:
        a = i-arr.mean()
        summ = summ + a
    return summ/len(arr)



print('mean deviation from mean using made function\n')

for i in frst_two_cols:
    print('mean deviation from mean in  ',i,' ',md(dataset[i]))

mean deviation from mean using made function

mean deviation from mean in   Mthly_HH_Income   0.0
mean deviation from mean in   Mthly_HH_Expense   0.0

Compute *Mean Absolute Deviation from the Mean* of the first two cols using your own function and verify using inbuilt Python function

In [59]:
from numpy import absolute as ab
frst_two_cols = dataset.columns[:2].tolist()
print("mean absolute deviation from mean using builtin function\n")
for i in frst_two_cols:
    print('mean absolute deviation from mean in  ',i,' ',dataset[i].mad())
    
   
def mad(arr):
    summ = 0 
    for i in arr:
        a = ab(i-arr.mean())
        summ = summ + a
    return summ/len(arr)

print('mean absolute deviation from mean using made function\n')

for i in frst_two_cols:
    print('mean absolute deviation from mean in  ',i,' ',mad(dataset[i]))

mean absolute deviation from mean using builtin function

mean absolute deviation from mean in   Mthly_HH_Income   20288.96
mean absolute deviation from mean in   Mthly_HH_Expense   9247.44
mean absolute deviation from mean using made function

mean absolute deviation from mean in   Mthly_HH_Income   20288.96
mean absolute deviation from mean in   Mthly_HH_Expense   9247.44

Compute *Coefficient of Variation* of the first two cols using your own function and verify using inbuilt Python function

In [67]:
frst_two_cols = dataset.columns[:2].tolist()
print("coefficient of variation using builtin function\n")

for i in frst_two_cols:
  print('coefficient of variation  ',i,' ', stats.variation(dataset[i]))


print('coefficient of variation using made function\n')

def cov(arr):
  return(arr.std()/arr.mean())


for i in frst_two_cols:
  print('coefficient of variation  ',i,' ',cov(dataset[i]))

coefficient of variation using builtin function

coefficient of variation   Mthly_HH_Income   0.6216760137420672
coefficient of variation   Mthly_HH_Expense   0.636024233362227
coefficient of variation using made function

coefficient of variation   Mthly_HH_Income   0.6279876071686242
coefficient of variation   Mthly_HH_Expense   0.6424814977277227

Compute z score  for all numerical cols using your own function  and verify using inbuilt Python function

In [61]:
numeric_columns = dataset.select_dtypes(include=np.number).columns.tolist()

print('zscore using builtin fucntion')
for i in numeric_columns:
    print(i, stats.zscore(dataset[i]))
    
def zscore(arr):
    zsco = []
    for x in arr:
        zsc = ((x - arr.mean())/np.std(arr))
        zsco.append(zsc)
        
    return zsco
    
        
    
print('*****************')
print('z-scores using made function')

for i in numeric_columns:
    
    print(i, zscore(dataset[i]))

zscore using builtin fucntion
Mthly_HH_Income [-1.41502358 -1.37631732 -1.22149227 -1.22149227 -1.12472661 -1.06666721
 -1.02796095 -0.91184216 -0.87313589 -0.83442963 -0.83442963 -0.7570171
 -0.70282833 -0.67960458 -0.67960458 -0.64089831 -0.64089831 -0.64089831
 -0.48607326 -0.44736699 -0.42801386 -0.36995447 -0.29254194 -0.29254194
 -0.25383568 -0.25383568 -0.09901062 -0.06030436  0.01710817  0.05581443
  0.13322696  0.13322696  0.13322696  0.13322696  0.17193322  0.21063949
  0.32675828  0.34611141  0.5202896   0.71382091  0.71382091  0.90735223
  1.10088355  1.48794619  1.6814775   1.87500882  2.18465893  2.26207146
  2.26207146  2.26207146]
Mthly_HH_Expense [-0.90385726 -0.98740849 -1.19628658 -1.40516467 -0.56965232 -0.90385726
 -0.23544738  0.09875756 -0.82030602 -0.82030602 -0.06834491  0.51651373
 -1.15451096 -0.69497917 -0.73675479 -0.54458695  0.09875756 -0.73675479
 -1.02082899 -0.48610108  0.51651373 -0.31899861  0.01520632  0.51651373
 -0.56965232  0.51651373 -0.90385726 -0.73675479 -0.31899861 -0.56965232
  0.51651373  1.76978226 -0.73675479  0.26586003  0.51651373 -0.31899861
  0.09875756  0.09875756  2.18753843 -0.73675479  2.6052946   0.09875756
 -0.82030602  0.09875756  0.51651373  2.43819213  0.51651373  0.93426991
  2.6052946   1.76978226]
No_of_Fly_Members [-0.70566377 -1.37138431 -1.37138431 -2.03710484 -1.37138431 -1.37138431
 -0.70566377  0.6257773  -1.37138431 -0.03994323 -0.03994323  1.29149784
 -0.70566377  1.29149784 -0.03994323 -0.70566377 -0.70566377  1.29149784
 -1.37138431 -0.03994323  0.6257773  -0.03994323  1.29149784 -0.70566377
 -0.70566377 -0.03994323 -0.03994323 -0.03994323 -0.03994323 -0.03994323
  1.29149784  1.29149784 -1.37138431 -0.03994323  0.6257773   1.95721838
 -0.03994323 -0.70566377  1.29149784 -0.70566377  1.29149784 -0.03994323
 -1.37138431 -0.03994323  0.6257773   1.95721838  0.6257773   1.29149784
 -0.03994323  1.29149784]
Emi_or_Rent_Amt [-0.17155697 -0.00971077 -0.49524938 -0.49524938 -0.00971077 -0.49524938
  5.16936771  0.79952024 -0.49524938 -0.49524938  0.79952024  1.44690505
 -0.49524938 -0.49524938 -0.49524938 -0.49524938  0.07121233 -0.49524938
 -0.17155697 -0.49524938  0.31398163 -0.49524938 -0.49524938  0.15213543
 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938
 -0.49524938  0.07121233 -0.33340318 -0.09063387  0.07121233 -0.49524938
 -0.49524938 -0.49524938  1.44690505 -0.49524938  1.12321265  0.31398163
 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938 -0.49524938
  2.74167467  1.12321265]
Annual_HH_Income [-1.34362417 -1.29402147 -1.19027232 -1.23949637 -1.08235806 -0.92597705
 -1.01798815 -0.86463631 -0.85554879 -0.84949045 -0.66774012 -0.66319636
 -0.62472587 -0.54657323 -0.77376115 -0.76997468 -0.72264386 -0.73211003
 -0.44812513 -0.33074471 -0.43752303 -0.14066416 -0.50340753 -0.06569214
 -0.07515831 -0.12816882  0.21109847 -0.24365601 -0.00359411  0.40761601
  0.10659203  0.05547475 -0.16603347  0.37921752  0.33491588 -0.10469274
  0.25237094  0.2894783   0.3489258   0.31674085  0.31674085  0.49659795
  0.83927305  1.84647281  2.05851486  1.2482113   2.09032117  2.88396429
  1.71016006  2.61891172]
No_of_Earning_Members [-0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451
 -0.63281451 -0.63281451 -0.63281451  0.7428692   0.7428692  -0.63281451
 -0.63281451  0.7428692   0.7428692  -0.63281451 -0.63281451  2.11855292
 -0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451 -0.63281451
 -0.63281451  0.7428692  -0.63281451 -0.63281451 -0.63281451 -0.63281451
  2.11855292  0.7428692  -0.63281451 -0.63281451 -0.63281451  3.49423663
 -0.63281451  0.7428692   0.7428692  -0.63281451 -0.63281451  0.7428692
 -0.63281451 -0.63281451  0.7428692   2.11855292  0.7428692   2.11855292
  0.7428692  -0.63281451]
*****************
z-scores using made function
Mthly_HH_Income [-1.4150235849876078, -1.3763173213794344, -1.2214922669467403, -1.2214922669467403, -1.1247266079263063, -1.0666672125140462, -1.0279609489058725, -0.911842158081352, -0.8731358944731785, -0.834429630865005, -0.834429630865005, -0.7570171036486579, -0.7028283345972149, -0.6796045764323109, -0.6796045764323109, -0.6408983128241373, -0.6408983128241373, -0.6408983128241373, -0.48607325839144316, -0.44736699478326963, -0.42801386297918287, -0.3699544675669226, -0.2925419403505755, -0.2925419403505755, -0.253835676742402, -0.253835676742402, -0.09901062230970789, -0.06030435870153436, 0.0171081685148127, 0.05581443212298623, 0.1332269593393333, 0.1332269593393333, 0.1332269593393333, 0.1332269593393333, 0.17193322294750682, 0.21063948655568035, 0.3267582773802009, 0.3461114091842877, 0.5202895954210686, 0.7138209134619362, 0.7138209134619362, 0.9073522315028039, 1.1008835495436715, 1.4879461856254068, 1.6814775036662744, 1.8750088217071421, 2.1846589305725304, 2.262071457788877, 2.262071457788877, 2.262071457788877]
Mthly_HH_Expense [-0.9038572579654699, -0.9874084927561401, -1.1962865797328155, -1.4051646667094908, -0.5696523188027892, -0.9038572579654699, -0.23544737964010853, 0.09875755952257213, -0.8203060231747997, -0.8203060231747997, -0.0683449100587682, 0.516513733475923, -1.1545109623374803, -0.6949791709887945, -0.7367547883841296, -0.5445869483655882, 0.09875755952257213, -0.7367547883841296, -1.020828986672408, -0.48610108401211904, 0.516513733475923, -0.3189986144307787, 0.01520632473190197, 0.516513733475923, -0.5696523188027892, 0.516513733475923, -0.9038572579654699, -0.7367547883841296, -0.3189986144307787, -0.5696523188027892, 0.516513733475923, 1.7697822553359754, -0.7367547883841296, 0.2658600291039125, 0.516513733475923, -0.3189986144307787, 0.09875755952257213, 0.09875755952257213, 2.1875384292893263, -0.7367547883841296, 2.605294603242677, 0.09875755952257213, -0.8203060231747997, 0.09875755952257213, 0.516513733475923, 2.4381921336613366, 0.516513733475923, 0.9342699074292738, 2.605294603242677, 1.7697822553359754]
No_of_Fly_Members [-0.7056637686389973, -1.3713843050908816, -1.3713843050908816, -2.037104841542766, -1.3713843050908816, -1.3713843050908816, -0.7056637686389973, 0.6257773042647716, -1.3713843050908816, -0.03994323218711281, -0.03994323218711281, 1.291497840716656, -0.7056637686389973, 1.291497840716656, -0.03994323218711281, -0.7056637686389973, -0.7056637686389973, 1.291497840716656, -1.3713843050908816, -0.03994323218711281, 0.6257773042647716, -0.03994323218711281, 1.291497840716656, -0.7056637686389973, -0.7056637686389973, -0.03994323218711281, -0.03994323218711281, -0.03994323218711281, -0.03994323218711281, -0.03994323218711281, 1.291497840716656, 1.291497840716656, -1.3713843050908816, -0.03994323218711281, 0.6257773042647716, 1.9572183771685405, -0.03994323218711281, -0.7056637686389973, 1.291497840716656, -0.7056637686389973, 1.291497840716656, -0.03994323218711281, -1.3713843050908816, -0.03994323218711281, 0.6257773042647716, 1.9572183771685405, 0.6257773042647716, 1.291497840716656, -0.03994323218711281, 1.291497840716656]
Emi_or_Rent_Amt [-0.171556974674772, -0.009710772151402187, -0.49524937972151156, -0.49524937972151156, -0.009710772151402187, -0.49524937972151156, 5.169367708596431, 0.7995202404654468, -0.49524937972151156, -0.49524937972151156, 0.7995202404654468, 1.4469050505589258, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, 0.0712123291102827, -0.49524937972151156, -0.171556974674772, -0.49524937972151156, 0.31398163289533737, -0.49524937972151156, -0.49524937972151156, 0.1521354303719676, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, 0.0712123291102827, -0.3334031771981418, -0.09063387341308708, 0.0712123291102827, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, 1.4469050505589258, -0.49524937972151156, 1.1232126455121862, 0.31398163289533737, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, -0.49524937972151156, 2.7416746707458843, 1.1232126455121862]
Annual_HH_Income [-1.3436241662417796, -1.2940214714131952, -1.1902723234511179, -1.2394963717542933, -1.0823580637095411, -0.9259770487156072, -1.0179881543900042, -0.8646363115993424, -0.8555487949895254, -0.8494904505829808, -0.6677401183866409, -0.6631963600817324, -0.6247258731001739, -0.5465732302557478, -0.7737611455011726, -0.7699746802470822, -0.722643864570952, -0.732110027706178, -0.44812513364939704, -0.3307447107725942, -0.43752303093794387, -0.1406641550172555, -0.503407526359117, -0.06569214298626533, -0.07515830612149135, -0.12816881967875715, 0.21109846708774385, -0.24365600992851474, -0.003594112819182554, 0.4076160137750363, 0.10659202607484847, 0.055474745144627885, -0.16603347221966128, 0.3792175243693582, 0.3349158808965004, -0.10469273510339658, 0.2523709383573294, 0.2894782978474154, 0.3489258023366349, 0.3167408476768664, 0.3167408476768664, 0.49659794724616096, 0.8392730527413433, 1.846472810329393, 2.058514864558456, 1.2482113001831079, 2.0903211726928155, 2.8839642899501663, 1.7101600611821381, 2.6189117221638374]
No_of_Earning_Members [-0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, 0.7428692048833136, 0.7428692048833136, -0.6328145078635634, -0.6328145078635634, 0.7428692048833136, 0.7428692048833136, -0.6328145078635634, -0.6328145078635634, 2.1185529176301907, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, 0.7428692048833136, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, 2.1185529176301907, 0.7428692048833136, -0.6328145078635634, -0.6328145078635634, -0.6328145078635634, 3.4942366303770678, -0.6328145078635634, 0.7428692048833136, 0.7428692048833136, -0.6328145078635634, -0.6328145078635634, 0.7428692048833136, -0.6328145078635634, -0.6328145078635634, 0.7428692048833136, 2.1185529176301907, 0.7428692048833136, 2.1185529176301907, 0.7428692048833136, -0.6328145078635634]

Compute mode using your own function for the first two columns and verify using inbuilt Python function

In [62]:
frst_two_cols = dataset.columns[:2].tolist()

print('Mode using inbuilt functions\n')
for i in frst_two_cols:
    
    print('mode of ',i,dataset[i].mode())
    

    
def mode(arr):
    x = {}
    for a in arr:
        if a not in x:
            x[a] = 1
        else:
            x[a] +=1
            
    return[g for g,l in x.items() if l == max(x.values())]

print('Mode using made fucntion\n')
print('mode of Mthly_HH_Income',mode(dataset['Mthly_HH_Income']))
print('mode of Mthly_HH_Expense',mode(dataset['Mthly_HH_Expense']))

Mode using inbuilt functions

mode of  Mthly_HH_Income 0    45000
dtype: int64
mode of  Mthly_HH_Expense 0    25000
dtype: int64
Mode using made fucntion

mode of Mthly_HH_Income [45000]
mode of Mthly_HH_Expense [25000]

Comment if the data for the first two cols is bi-modal, multi-modal or single modal

In [65]:
print('unimodal')

unimodal